<!DOCTYPE html>
<html>
<head>
<title>Blackjack</title>
</head>
<body>
	<h1>YOU BUSTED!!!</h1>
	
	<div>Account Balance: ${{ player.accountBalance }} </div>
	<div>Cards Left: {{deck.cardsLeft}}</div><br><br>
	<div>Dealer
   		<div>{{#dealer.hand.cards}} | {{rank}} of {{suit}} | {{/dealer.hand.cards}}</div>
   		</div>
   	<br>
	<hr>
	<br>
	<div>{{ player.playerName }}
		<div>{{#player.hand.cards}} | {{rank}} of {{suit}} | {{/player.hand.cards}}</div></div><br>
		
	<div>Your hand score: {{player.hand.handScore}}</div>
	
	<h2>To keep playing, place your bet:</h2>
	<form method="post" action="round">
		Place your bet:<input required type="number" name="betAmount"> <br>
		<br> <input type="submit" value="Submit">
	</form>
	
</body>
</html>